{% extends "book_outlet/base.html" %}
{% load static %}


{% block title %} {{ title }} {% endblock %}


{% block content %}
<header id="bookstore">
    <h1> <a href="{% url 'index' %}"> Book Store </a></h1>
<!--    <link rel="stylesheet" href="{% static 'book_outlet.css' %}"/>-->
</header>
    <h1> {{ title }} </h1>
    <h2> {{ author }}</h2>
    <p>
        The Book has rating of {{ rating }}

        {% if is_bestseller %}
            and is Best Seller
        {% else %}
            but isn't Best Seller
        {% endif %}
    </p>
{% endblock %}